:root {
    --blue_logo_color: #2196F3;
    --text_grey_color: #757575;
    --card-shadow: 0px 3px 5px -3px black;
}

a {
    color: black;
    text-decoration: none;
}

ul {
    list-style-type: none;
}

body {
    font-family: "Roboto";
}



.logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
}

    .logo .color_logo {
        color: var(--blue_logo_color);
    }



.navigation .links li {
    margin-right: 20px;
    font-weight: 500;
    font-size: 14px;
}

    .navigation .links li :hover {
        color: var(--blue_logo_color);
        margin-right: 1px;
    }

.contact_info {
    display: flex;
}

    .contact_info li a {
        margin-right: 20px;
        font-weight: 500;
        font-size: 14px;
        color: var(--text_grey_color);
        fill: var(--text_grey_color);
    }

        .contact_info li a:hover {
            color: var(--blue_logo_color);
            fill: var(--blue_logo_color);
        }


.order {
    background-color: #2F303A;
}

    .order h1 {
        color: #ffff;
        font-size: 44px;
        font-weight: 900;
    }

.order_button {
    background-color: var(--blue_logo_color);
    color: #ffff;
    cursor: pointer;
    font-size: 16px;
    font-weight: 700;
    border: 0;
    border-radius: 4px;
}



.description ul h1 {
    font-size: 14px;
    font-weight: 700;
    color: #0000;
}

.description ul li .image {
    background-color: #F5F4FA;
}

.description ul li h3 {
    font-size: 14px;
    font-weight: 700;
}

.description ul li p {
    font-size: 14px;
    color: var(--text_grey_color);
}



.example h2 {
    font-size: 36px;
    font-weight: 700;
}

.example ul li img {
    border-radius: 10px;
}

.our_team {
    background-color: #F5F4FA;
}

    .our_team h2 {
        font-size: 36px;
        font-weight: 700;
    }

    .our_team .workers .worker {
        background-color: #FFFFFF;
        width: 270px;
        border-radius: 0 0 4px 4px;
        box-shadow: var(--card-shadow);
        margin-bottom: 10px;
    }

        .our_team .workers .worker .name {
            font-size: 16px;
            font-weight: 500;
        }

        .our_team .workers .worker .post {
            font-size: 16px;
            color: var(--text_grey_color);
        }

        .our_team .workers .worker a {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 44px;
            height: 44px;
            fill: #AFB1B8;
        }

            .our_team .workers .worker a:hover {
                background-color: var(--blue_logo_color);
                fill: white;
                border-radius: 100%;
            }



footer {
    background-color: #2F303A;
}

    footer .logo {
        font-family: "Raleway";
        font-weight: 700;
        font-size: 26px;
        color: #FFFFFF;
    }

    footer address {
        font-size: 14px;
        font-style: normal;
        color: #FFFFFF;
    }

        footer address ul li a {
            color: var(--text_grey_color);
        }

    footer h2 {
        font-weight: 700;
        font-size: 14px;
        color: #FFFFFF;
    }

    footer .social_media li a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 44px;
        fill: #FFFFFF;
        background-color: rgba(255, 255, 255, 10%);
        border-radius: 100%;
    }

        footer .social_media li a:hover {
            background-color: var(--blue_logo_color);
        }

    footer form label {
        font-weight: 700;
        font-size: 14px;
        font-style: normal;
        color: #FFFFFF;
        text-transform: uppercase;
    }

        footer form label input {
            background-color: #2F303A;
            color: #FFFFFF;
            border-color: rgba(255, 255, 255, 30%);
            border-radius: 4px;
            border-style: solid;
            border-width: 1px;
        }

    footer form button {
        fill: #FFFFFF;
        color: #FFFFFF;
        border: 0px;
        border-radius: 4px;
        background-color: var(--blue_logo_color);
        cursor: pointer;
    }
